In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.cross_validation import  cross_val_score
from sklearn import tree

In [5]:
data = pd.read_csv('insurance.csv')

In [6]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [503]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [474]:
data.shape

(1338, 7)

In [475]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [7]:
data.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [505]:
#obj_df = df.select_dtypes(include=['object']).copy()
#obj_df

In [8]:
#modifying the columns
modify_cols = {"sex":     {"female": 0, "male": 1},
                "region": {"southwest": 1, "southeast": 2, "northwest": 3, "northeast": 4 },
                "smoker":     {"no": 0, "yes": 1}
               }

In [9]:
data.replace(modify_cols, inplace=True)
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

In [508]:
#df  = data.from_csv("insurance.csv")
#transformed_data = pd.get_dummies(df)
#transformed_data.head

In [509]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

In [10]:
X = data.drop('smoker',axis=1)
y = data['smoker']

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [13]:
X_train.shape

(1003, 6)

In [14]:
X_test.shape

(335, 6)

In [531]:
#Decision Tree Classifier with criterion gini index
dt_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100, max_depth=2, min_samples_leaf=3)
dt_gini.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=3, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [532]:
y_pred = dt_gini.predict(X_test)

In [533]:
accuracy_score(y_test,y_pred)*100

92.53731343283582

In [534]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,y_pred))

[[250  24]
 [  1  60]]

In [535]:
print(classification_report(y_test,y_pred))

             precision    recall  f1-score   support

          0       1.00      0.91      0.95       274
          1       0.71      0.98      0.83        61

avg / total       0.94      0.93      0.93       335

In [17]:
#Decision Tree Classifier with criterion information gain
dt_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100, max_depth=3, min_samples_leaf=5)
dt_entropy.fit(X_train, y_train)

scores = cross_val_score(dt_entropy, X_train, y_train, cv=5)

print("mean: {:.3f} (std: {:.3f})".format(scores.mean(),
                                          scores.std()),
                                          end="\n\n" )

mean: 0.962 (std: 0.008)

In [18]:
y_pred_en = dt_entropy.predict(X_test)

In [19]:
y_test.shape

(335,)

In [20]:
print ("Accuracy is ", accuracy_score(y_test,y_pred_en)*100)

Accuracy is  96.71641791044776

In [22]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,y_pred_en))

[[262   8]
 [  3  62]]

In [23]:
print(classification_report(y_test,y_pred_en))

             precision    recall  f1-score   support

          0       0.99      0.97      0.98       270
          1       0.89      0.95      0.92        65

avg / total       0.97      0.97      0.97       335

In [11]:
precision = 62/(8+62)
precision

0.8857142857142857

In [12]:
recall = 62/(62+3)
recall

0.9538461538461539

In [13]:
f1 = 2*((precision*recall)/(precision+recall))
f1

0.9185185185185185

In [14]:
fpr = 8/(8+262)
fpr

0.02962962962962963

In [15]:
tpr = 62/(62+3)
tpr

0.9538461538461539