In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
data = pd.read_csv('insurance.csv')

In [10]:
modify_cols = {"sex":     {"female": 0, "male": 1},
                "region": {"southwest": 1, "southeast": 2, "northwest": 3, "northeast": 4 },
                "smoker":     {"no": 0, "yes": 1}
               }

In [11]:
data.replace(modify_cols, inplace=True)
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

In [12]:
X = data.drop('smoker',axis=1)
y = data['smoker']

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train.shape

(1003, 6)

In [14]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.cross_validation import  cross_val_score

NaiveBayesMNB = MultinomialNB().fit(X_train, y_train)
scores = cross_val_score(NaiveBayesMNB, X_train, y_train, cv=5)
print("MNB mean: {:.3f} (std: {:.3f})".format(scores.mean(), scores.std()), end="\n\n" )

NaiveBayesGNB = GaussianNB().fit(X_train, y_train)
scores = cross_val_score(NaiveBayesGNB, X_train, y_train, cv=5)
print("GNB mean: {:.3f} (std: {:.3f})".format(scores.mean(), scores.std()), end="\n\n" )

MNB mean: 0.930 (std: 0.009)

GNB mean: 0.897 (std: 0.023)

C:\Users\Rafi\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [15]:
y_predMNB = NaiveBayesMNB.predict(X_test)
y_predGNB = NaiveBayesGNB.predict(X_test)

In [16]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test,y_predMNB))  
print(classification_report(y_test,y_predMNB))

[[250  18]
 [  0  67]]
             precision    recall  f1-score   support

          0       1.00      0.93      0.97       268
          1       0.79      1.00      0.88        67

avg / total       0.96      0.95      0.95       335

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predMNB)*100

94.6268656716418

In [18]:
print(confusion_matrix(y_test,y_predGNB))  
print(classification_report(y_test,y_predGNB))

[[255  13]
 [ 16  51]]
             precision    recall  f1-score   support

          0       0.94      0.95      0.95       268
          1       0.80      0.76      0.78        67

avg / total       0.91      0.91      0.91       335

In [24]:
accuracy_score(y_test,y_predGNB,)*100

91.34328358208955

In [21]:
p = 57/(57+11)
p

0.8382352941176471

In [22]:
r = 57/(57+21)
r

0.7307692307692307

In [23]:
f1 = 2*((p*r)/(p+r))
f1

0.7808219178082191