In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('insurance.csv')

In [3]:
modify_cols = {"sex":     {"female": 0, "male": 1},
                "region": {"southwest": 1, "southeast": 2, "northwest": 3, "northeast": 4 },
                "smoker":     {"no": 0, "yes": 1}
               }

In [4]:
data.replace(modify_cols, inplace=True)
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

In [5]:
X = data.drop('smoker',axis=1)
y = data['smoker']

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train.shape

(1003, 6)

In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import  cross_val_score
rf = RandomForestClassifier(n_estimators=20, random_state=0, criterion='gini')  
rf.fit(X_train, y_train)  
y_pred = rf.predict(X_test)

scores = cross_val_score(rf, X_train, y_train, cv=5)
print("RF mean: {:.3f} (std: {:.3f})".format(scores.mean(), scores.std()), end="\n\n" )

C:\Users\Rafi\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

RF mean: 0.956 (std: 0.010)

In [40]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(confusion_matrix(y_test,y_pred))

[[253   9]
 [  4  69]]

In [41]:
print(classification_report(y_test,y_pred))  
print("Accuracy: ", accuracy_score(y_test, y_pred)*100)

             precision    recall  f1-score   support

          0       0.98      0.97      0.97       262
          1       0.88      0.95      0.91        73

avg / total       0.96      0.96      0.96       335

Accuracy:  96.11940298507463