In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('insurance.csv')

In [3]:
data.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [4]:
cleanup_nums = {"sex":     {"female": 0, "male": 1},
                "region": {"southwest": 1, "southeast": 2, "northwest": 3, "northeast": 4 },
                "smoker":     {"no": 0, "yes": 1}
               }

In [5]:
data.replace(cleanup_nums, inplace=True)
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

In [6]:
X = data.drop('smoker',axis=1)
y = data['smoker']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train.shape

(1003, 6)

In [20]:
from sklearn.svm import SVC  
svclassifier = SVC(kernel='linear')  
svclassifier.fit(X_train, y_train) 

from sklearn.cross_validation import cross_val_score
scores = cross_val_score(svclassifier, X_train, y_train, cv=5)
print("RF mean: {:.3f} (std: {:.3f})".format(scores.mean(), scores.std()), end="\n\n" )

RF mean: 0.972 (std: 0.010)

In [17]:
y_pred = svclassifier.predict(X_test)

In [18]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred))

[[251  17]
 [  0  67]]
             precision    recall  f1-score   support

          0       1.00      0.94      0.97       268
          1       0.80      1.00      0.89        67

avg / total       0.96      0.95      0.95       335

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)*100

94.92537313432837